# Environment variables are separated by newlines and must not have space
# around the equals sign (`=`).
DISCORD_TOKEN=put your token here

# Declares the level of logging to use. Read the documentation for the `log`
# and `env_logger` crates for more information.
RUST_LOG=taribot=debug

# Prefix that each command will use
PREFIX=;

# Cat command
## Max number of images the user is allowed to request at once
CAT_MAX_IMAGES=5
## Path on the filesystem where the images are located, might have to wrap the value in quotation marks if it contains a space
CAT_IMAGE_PATH=/srv/taribot
